body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(231, 220, 220);
    font-family: 'Inria Sans', sans-serif;
}

.nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.part1{
    padding-left: 20px;
}
.v{
    text-decoration: none;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#ff2626 ;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    transition: opacity 0.15s;
    cursor: pointer;

}
.part2{
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

.part3{
    margin-left: 20px;
    display: flex;
  
}
.li{
    background-color: gray;
    height: 50px;
    width: 2px;
    margin: 20px;
}

.kl{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    background-color: transparent;
    transition: opacity 0.15s;
    cursor: pointer;
}
.kl:hover{
    opacity: 0.8;
}

.butt{
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#ff2626 ;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    transition: opacity 0.15s;
    cursor: pointer;
}

.butt:hover{
    opacity: 0.8;
}

.kl1{
position: relative;
display: inline-block;
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.img2{
    width: 100px;
    max-width: 90%;
}
h1{
    color: #ff2626;
    font-size: 50px;
    margin-left: 20px;
}

.section2{
    display: flex;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50x;
    justify-content: space-evenly;
}
.linea{
    height: 1000px;
    margin-left: 100px;
    margin-right: 100px;
   margin-top: 100px;
    width: 2px;
    background-color: black;
}

.main1-a{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 50px;
}
.heading{
    margin-top: 50px;
    border: 1px solid black;
    color: #ff2626;
    font-size: 20px;
    padding-left: 20px;
    font-weight: bold;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.head{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -2px;
}

h2{
    color: #ff2626;
    font-size: 40px;
    margin-left: 20px;
}
.section3a{
    margin-left: 80px;
    margin-top: 50px;
}
.hh{
    display: flex;
    text-align: center;
    align-items: center;
}
.e{
    font-size: 20px;
    margin-bottom: 10px;
}
.ed{
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    background-color: transparent;
    font-size: 20px;
    border-radius: 3px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.ff{
    display: flex;
    margin-left: 50px;
}
.k{
    margin-right: 50px;

}

.vut{
  display: flex;
  justify-content: center;
}
.oo{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    background-color: #ff2626;
    border: none;
    color: white;
    font-weight: bold;
   border-radius: 5px;
   cursor: pointer;
}.oo:hover{
    opacity: .8;
}
.ooo{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-left: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    background-color: #ff2626;
    border: none;
    color: white;
    font-weight: bold;
   border-radius: 5px;
   cursor: pointer;
}.ooo:hover{
    opacity: .8;
}
.ba{
    display: none;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
    padding-bottom: 50px;
}
.b{
    text-decoration: none;
    color: black;
}
.ook{
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
#meditation-chart {
    display: block;
    margin: 20px auto;
}

#records-container {
    padding: 20px;
}

.record-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 16px;
}